* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/back.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.title {
    color: #ffcc00;
    margin: 20vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px #000000,
                 0 0 10px #000000,
                 0 0 10px #000000;
}

.container {
    background-color: #ffffff;
    width: 90vw;
    height: 100px;
    margin: 0 auto;
}