* {
    margin: 0;
    padding: 0;
}

.container-slide{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 20px 30px #000000;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    margin: 20vh auto;
    width: 50vw;
}

.container-itens {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 0.5s;
}

.item:first-child {
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button {
    align-items: center;
    color: #00000000;
    display: flex;
    font: bold 30px sans-serif;
    justify-content: center;
    user-select: none;
    width: 50px;
    z-index: 1;
}

.action-button:hover {
    color: #FFF;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}